:root{
    --heightTriangle:9px;
}

.inputContainer{
    position: relative;
    /*--Espaçamento--*/
    margin-bottom: 10px;
}
.inputContainer .validateInp{
    box-sizing: border-box;
    /*--Estilização--*/
    border: 0;
    border-bottom: solid 2px #868686;
    /*--Tamanho--*/
    width: 100%;
    font-size: 1em;
}
.inputContainer .validateInp:focus{
    /*--Estilização--*/
    outline: none;
}
.inputContainer .alert{
    position:absolute;
    pointer-events: none;
    /*--Espaçamento--*/
    padding: 5px;
    /*--Estilização--*/
    background-color: #9ad3d9;
    border-radius: 10px;
    color: #cc4e43;
    opacity: 0;
    /*--Posicionamento--*/
    text-align: center;
    top: calc(100% + var(--heightTriangle) + 1px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    /*--Tamanho--*/
    width: max-content;
    max-width: 50vw;
    font-weight: 800;

}
.inputContainer .alert::after{
    content: "";
    position: absolute;
    /*--Posicionamento--*/
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    /*--Estilização--*/
    /*--Tamanho--*/
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: var(--heightTriangle) solid #9ad3d9;

}
.inputContainer.invalid .alert {
    opacity: 1;
}